Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

Importing Dataset

In [2]:
dataset = pd.read_csv('Data.csv')

In [3]:
dataset.head()

   Sample code number  Clump Thickness  ...  Mitoses  Class
0             1000025                5  ...        1      2
1             1002945                5  ...        1      2
2             1015425                3  ...        1      2
3             1016277                6  ...        1      2
4             1017023                4  ...        1      2

[5 rows x 11 columns]

In [4]:
x = dataset.drop('Class', axis = 1)
y = dataset['Class']

Splitting into Train/Test set

In [5]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

Decision Tree Model

In [6]:
# Decision Tree
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()
classifier.fit(x_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

Predictions of Decision Tree model

In [7]:
y_pred = classifier.predict(x_test)

In [8]:
results = pd.DataFrame({'Test set' : np.array(y_test), 'Prediction': np.array(y_pred)})

In [9]:
results

     Test set  Prediction
0           2           2
1           2           2
2           2           2
3           2           2
4           2           2
..        ...         ...
132         4           4
133         4           4
134         2           2
135         2           2
136         2           2

[137 rows x 2 columns]

Metrics

In [10]:
print(confusion_matrix(y_test, y_pred))

[[93  4]
 [ 3 37]]

In [11]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           2       0.97      0.96      0.96        97
           4       0.90      0.93      0.91        40

    accuracy                           0.95       137
   macro avg       0.94      0.94      0.94       137
weighted avg       0.95      0.95      0.95       137

Random Forest model

In [12]:
# Random Forest

from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy')
classifier.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

Predictions of Random Forest model

In [13]:
y_pred = classifier.predict(x_test)

In [14]:
results = pd.DataFrame({'Test set' : np.array(y_test), 'Prediction': np.array(y_pred)})

In [15]:
results

     Test set  Prediction
0           2           2
1           2           2
2           2           2
3           2           2
4           2           2
..        ...         ...
132         4           4
133         4           4
134         2           2
135         2           2
136         2           2

[137 rows x 2 columns]

Metrics

In [16]:
print(confusion_matrix(y_test, y_pred))

[[94  3]
 [ 1 39]]

In [17]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           2       0.99      0.97      0.98        97
           4       0.93      0.97      0.95        40

    accuracy                           0.97       137
   macro avg       0.96      0.97      0.97       137
weighted avg       0.97      0.97      0.97       137