Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

Importing Dataset

In [2]:
dataset = pd.read_csv('kyphosis.csv')

In [3]:
dataset.head()

  Kyphosis  Age  Number  Start
0   absent   71       3      5
1   absent  158       3     14
2  present  128       4      5
3   absent    2       5      1
4   absent    1       4     15

Encoding categorical data

In [4]:
cat_features = ['Kyphosis']
dataset_1 = pd.get_dummies(dataset, columns= cat_features, drop_first= True)

In [5]:
dataset_1

    Age  Number  Start  Kyphosis_present
0    71       3      5                 0
1   158       3     14                 0
2   128       4      5                 1
3     2       5      1                 0
4     1       4     15                 0
..  ...     ...    ...               ...
76  157       3     13                 1
77   26       7     13                 0
78  120       2     13                 0
79   42       7      6                 1
80   36       4     13                 0

[81 rows x 4 columns]

In [6]:
x = dataset_1.drop('Kyphosis_present', axis = 1)
y = dataset_1['Kyphosis_present']

Splitting into Train/Test set

In [7]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

Decision Tree Model

In [8]:
# Decision Tree
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()
classifier.fit(x_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

Predictions of Decision Tree model

In [9]:
y_pred = classifier.predict(x_test)

In [10]:
results = pd.DataFrame({'Test set' : np.array(y_test), 'Prediction': np.array(y_pred)})

In [11]:
results

    Test set  Prediction
0          0           1
1          0           0
2          0           0
3          1           1
4          0           0
5          0           0
6          0           0
7          0           0
8          0           0
9          1           1
10         0           0
11         0           0
12         0           0
13         1           0
14         0           0
15         0           0
16         1           0

Metrics

In [12]:
print(confusion_matrix(y_test, y_pred))

[[12  1]
 [ 2  2]]

In [13]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.86      0.92      0.89        13
           1       0.67      0.50      0.57         4

    accuracy                           0.82        17
   macro avg       0.76      0.71      0.73        17
weighted avg       0.81      0.82      0.81        17

Random Forest model

In [14]:
# Random Forest

from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy')
classifier.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

Predictions of Random Forest model

In [15]:
y_pred = classifier.predict(x_test)

In [16]:
results = pd.DataFrame({'Test set' : np.array(y_test), 'Prediction': np.array(y_pred)})

In [17]:
results

    Test set  Prediction
0          0           1
1          0           0
2          0           0
3          1           1
4          0           0
5          0           0
6          0           0
7          0           0
8          0           0
9          1           0
10         0           0
11         0           0
12         0           0
13         1           0
14         0           0
15         0           0
16         1           0

Metrics

In [18]:
print(confusion_matrix(y_test, y_pred))

[[12  1]
 [ 3  1]]

In [19]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.80      0.92      0.86        13
           1       0.50      0.25      0.33         4

    accuracy                           0.76        17
   macro avg       0.65      0.59      0.60        17
weighted avg       0.73      0.76      0.73        17