Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

Importing Dataset

In [2]:
dataset = pd.read_csv('loan_data.csv')

In [3]:
dataset.head()

   credit.policy             purpose  ...  pub.rec  not.fully.paid
0              1  debt_consolidation  ...        0               0
1              1         credit_card  ...        0               0
2              1  debt_consolidation  ...        0               0
3              1  debt_consolidation  ...        0               0
4              1         credit_card  ...        0               0

[5 rows x 14 columns]

Encoding categorical data

In [4]:
cat_features = ['purpose']
dataset_1 = pd.get_dummies(dataset, columns= cat_features, drop_first= True)

In [5]:
dataset_1

      credit.policy  int.rate  ...  purpose_major_purchase  purpose_small_business
0                 1    0.1189  ...                       0                       0
1                 1    0.1071  ...                       0                       0
2                 1    0.1357  ...                       0                       0
3                 1    0.1008  ...                       0                       0
4                 1    0.1426  ...                       0                       0
...             ...       ...  ...                     ...                     ...
9573              0    0.1461  ...                       0                       0
9574              0    0.1253  ...                       0                       0
9575              0    0.1071  ...                       0                       0
9576              0    0.1600  ...                       0                       0
9577              0    0.1392  ...                       0                       0

[9578 rows x 19 columns]

In [6]:
x = dataset_1.drop('not.fully.paid', axis = 1)
y = dataset_1['not.fully.paid']

Splitting into Train/Test set

In [7]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

Decision Tree Model

In [8]:
# Decision Tree
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()
classifier.fit(x_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

Predictions of Decision Tree model

In [9]:
y_pred = classifier.predict(x_test)

In [10]:
results = pd.DataFrame({'Test set' : np.array(y_test), 'Prediction': np.array(y_pred)})

In [11]:
results

      Test set  Prediction
0            0           0
1            0           1
2            1           1
3            0           1
4            0           0
...        ...         ...
1911         0           1
1912         1           1
1913         0           0
1914         0           1
1915         0           1

[1916 rows x 2 columns]

Metrics

In [12]:
print(confusion_matrix(y_test, y_pred))

[[1339  264]
 [ 243   70]]

In [13]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.85      0.84      0.84      1603
           1       0.21      0.22      0.22       313

    accuracy                           0.74      1916
   macro avg       0.53      0.53      0.53      1916
weighted avg       0.74      0.74      0.74      1916

Random Forest model

In [14]:
# Random Forest

from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy')
classifier.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

Predictions of Random Forest model

In [15]:
y_pred = classifier.predict(x_test)

In [16]:
results = pd.DataFrame({'Test set' : np.array(y_test), 'Prediction': np.array(y_pred)})

In [17]:
results

      Test set  Prediction
0            0           0
1            0           0
2            1           1
3            0           0
4            0           0
...        ...         ...
1911         0           0
1912         1           0
1913         0           0
1914         0           0
1915         0           0

[1916 rows x 2 columns]

Metrics

In [18]:
print(confusion_matrix(y_test, y_pred))

[[1598    5]
 [ 309    4]]

In [19]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.84      1.00      0.91      1603
           1       0.44      0.01      0.02       313

    accuracy                           0.84      1916
   macro avg       0.64      0.50      0.47      1916
weighted avg       0.77      0.84      0.77      1916