Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

Importing Dataset

In [2]:
dataset = pd.read_csv('Social_Network_Ads.csv')

In [3]:
dataset.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [4]:
x = dataset.drop('Purchased', axis = 1)
y = dataset['Purchased']

Splitting into Train/Test set

In [5]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

Decision Tree Model

In [6]:
# Decision Tree
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()
classifier.fit(x_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

Predictions of Decision Tree model

In [7]:
y_pred = classifier.predict(x_test)

In [8]:
results = pd.DataFrame({'Test set' : np.array(y_test), 'Prediction': np.array(y_pred)})

In [9]:
results

    Test set  Prediction
0          0           0
1          1           1
2          0           0
3          0           0
4          0           0
..       ...         ...
75         0           1
76         0           0
77         0           0
78         0           0
79         0           0

[80 rows x 2 columns]

Metrics

In [10]:
print(confusion_matrix(y_test, y_pred))

[[36  8]
 [ 7 29]]

In [11]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.84      0.82      0.83        44
           1       0.78      0.81      0.79        36

    accuracy                           0.81        80
   macro avg       0.81      0.81      0.81        80
weighted avg       0.81      0.81      0.81        80

Random Forest model

In [12]:
# Random Forest

from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy')
classifier.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

Predictions of Random Forest model

In [13]:
y_pred = classifier.predict(x_test)

In [14]:
results = pd.DataFrame({'Test set' : np.array(y_test), 'Prediction': np.array(y_pred)})

In [15]:
results

    Test set  Prediction
0          0           1
1          1           1
2          0           0
3          0           0
4          0           0
..       ...         ...
75         0           1
76         0           0
77         0           0
78         0           0
79         0           0

[80 rows x 2 columns]

Metrics

In [ ]:
print(confusion_matrix(y_test, y_pred))

[[12  1]
 [ 3  1]]

In [ ]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.80      0.92      0.86        13
           1       0.50      0.25      0.33         4

    accuracy                           0.76        17
   macro avg       0.65      0.59      0.60        17
weighted avg       0.73      0.76      0.73        17